<meta name="robots" content="noindex, nofollow">
<meta name="googlebot" content="noindex, nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1">    
<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
<link rel="manifest" href="/assets/site.webmanifest">
<link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/minty/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/main.css">
<script type="text/javascript" src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!--<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">-->

<script id="insert"></script>
<style>
    body {
        color: #181818;                        
    }
    h1:nth-child(1) {
        margin-top: 0;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #333;        
    }
    .nav-link {
        color: var(--bs-link-hover-color);
        font-weight: bold;
    }
    /* https://web.dev/aspect-ratio/ */
    .slideshow {
        display: inline-block;
        /*width: 100%;
        height: 100%;*/
        width: 800px; 
        height: 700px;
    }
    .slideshow > img {
        position: absolute; 
        /*width: 100%; 
        height: 100%; */
        opacity: 0; 
        object-fit: contain;
        transition: opacity 1s ease-in-out;
        max-width: 800px;
        max-height: 700px;
    }
    .slideshow > img:nth-child(1) {
        opacity: 1;
    }    
    h1, h2, h3 {
        margin-top: 2rem;
    }
    .box {
    display: inline-block;
    border: solid 1px #eee;
    padding: 0.5em;
}
.box h4 {
    background: #efefef;
    text-align: center;
    
}
.boxy {
    display: inline-block;
    border: solid 1px #eee;
    padding: 0.5em;
    margin: 0.5em;
    width: 80%;
    padding: 0em 1.25em;
}
.boxy h3 {
    margin-top: 0.25em;
    
}
</style>
<script>
function makeSlideshow(cssQuery) {
    var images = [];document.querySelectorAll(cssQuery).forEach(function(i) {images.push(i);});
    var current = 0;
    function nextImage() {
        images[current].style.opacity = 0;
        current = (current + 1) % images.length;
        images[current].style.opacity = 1;
    }
    setInterval(nextImage, 5000); // change image every 5 seconds
    return images;
}

</script>
