<style>
    .sidebar-image {        
        text-align: center;
    }
    .sidebar-image img {
        width: 150px;
    }
</style>

<div class="card mb-3">
    <h3 class="card-header">Resources</h3>
    <div class="card-body">
        <h5 class="card-title">FRC Survival Guide</h5>
        <h6 class="card-subtitle text-muted">Links to valuable resources</h6>
    </div>
    <div class="card-body">
        <p class="card-text sidebar-image"><a href="/frc-survival-guide/index.html"><img src="/assets/robot-survival-guide2.gif" class="sidebar-image"></a></p>         
    </div>


    <h3 class="card-header">Sponsors</h3>
    <div class="card-body">        
        Automated Amphibians is proud to be sponsored by and utilize tools by:
            <hr>
        <div style="text-align: center;">
        <a class="dropdown-item" href="https://www.aptiv.com/"><img src="/assets/logos/aptiv_logo_color_rgb.png"  title="Aptiv" alt="Aptiv Logo" style="width:90%;"/></a>
            <hr>
        <a href="https://www.nachirobotics.com/" title="Nachi Robotics" alt="Nachi Robotics Logo"><img src="/assets/Logo-NRS-Black.png" /></a>
            <hr>        
        <a href="https://altair.com" title="Altair Engineering" alt="Altair Engineering Logo"><img src="/assets/logos/altair.png" /></a>        
            <hr>        
        <a href="https://www.bcdilabs.com/" title="BCDI Labs" alt="BCDI Labs Logo"><img src="/assets/logos/bcdi-labs-logo.jpeg" /></a>        
            <hr> 
        <a href="https://dmcu.com/"><img  title="DMCU - Diversified Members Credit Union" alt="DMCU - Diversified Members Credit Union Logo"src="/assets/logos/dmcu_purple_with_green_on_transparent.png" /></a>        
            <hr>        			
        
    </div>
            
        <h5>
        Amazing companies with a strong Michigan presence. Thank you!
        </h5>
    </div>


    

    
    <!--
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-footer text-muted">
        2 days ago
    </div>
    -->
</div>
<!-- 
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
            the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
-->