body {
    color: #333;            
}

.page {
    margin-top: 0;
}

.bold-list ul {
    padding-left: 0.5rem;
}

.bold-list li { 
    list-style:none; 
    position:relative; 
    padding:0 0 0 2em;
    margin:0 0 .5em 10px;
    transition:.12s;
}
.bold-list li::before {
    position:absolute;
    content:'\2023'; 
    font-family:Arial;
    color:#000;
    top:0;
    left:0;
    text-align:center; 
    font-size:2em;             
    line-height:.75; 
    transition:.5s;
    margin-left: 10px;
}
.bold-list li:hover::before {
    color:#000;
    transform:scale(2); 
    opacity:1; 
    text-shadow:0 0 4px;
    transition:.1s;
}      

.page {            
    margin-top: 0;
}

h1,h2,h3 {
    font-weight: bold;            
}

div.quote {
    
    background: #ddd;
    padding: 1em;
}
div.quote > div > pre > code {
    white-space: break-spaces;
    
}

@media (min-width: 992px)  {
    .page .col-lg-2:nth-child(1) {                
        background: #00b0b0 url(/assets/aa-lizard-only-facing-right.png) no-repeat;
        background-size: 80%;
        background-position: top;
        opacity: .1;
                    }
}

.page .col-lg-8 {
    margin-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

pre.highlight  {
    font-size:60%;
    background: #eee;
    border-left: solid 3px #888;
    margin-left: 2em;padding-left: 1em;
}

.content img {
    max-width: 80%;    
    box-shadow: 1px 1px 3px #ccc;
    padding: 0.5em;
    width: 65%;
}

ul.quiz > li > ul > li {
    display: none;
}

ul.code-list {
    padding: 0;
}
ul.code-list code {
    margin-right: 0.5rem;
}
ul.code-list code:after {
    content: '>';
    margin-left: 0.5rem;
    color: black; 
}
ul.code-list li {
    list-style: none;
    padding: 0 0 0 0.25em ;
}


@media print {
    ul.quiz > li {        
        margin-bottom: 5em !important;        
        background: red;
    }        

    nav {
        display: none !important;
    }

    .col-lg-2 {
        display: none !important;
    }
    .content {
        width: 100%;
        position: absolute;
        top: 5%;
        left: 5%;
    }
}

.mono {
    color:black;
}

li.nav-item {
    margin-left: 2em;
}

details {
    border: dashed 2px #ddd;
    padding: 0.5em;
    margin-bottom: 1em;
}

summary {
    font-size: 85%;
}

.qa ul {padding: 0;list-style: none;font-weight: bold;}
.qa p { color: red}