body {
    color: #333;            
}

.page {
    margin-top: 0;
}

.bold-list ul {
    padding-left: 0.5rem;
}

.bold-list li { 
    list-style:none; 
    position:relative; 
    padding:0 0 0 2em;
    margin:0 0 .5em 10px;
    transition:.12s;
}
.bold-list li::before {
    position:absolute;
    content:'\2023'; 
    font-family:Arial;
    color:#000;
    top:0;
    left:0;
    text-align:center; 
    font-size:2em;             
    line-height:.75; 
    transition:.5s;
    margin-left: 10px;
}
.bold-list li:hover::before {
    color:#000;
    transform:scale(2); 
    opacity:1; 
    text-shadow:0 0 4px;
    transition:.1s;
}      

.page {            
    margin-top: 0;
}

h1,h2,h3 {
    font-weight: bold;            
}


@media (min-width: 992px)  {
    .page .col-lg-2:nth-child(1) {                
        background: #00b0b0 url(/assets/aa-lizard-only-facing-right.png) no-repeat;
        background-size: 80%;
        background-position: top;
        opacity: .1;
                    }
}

.page .col-lg-8 {
    margin-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
}