<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>8426 - Automated Amphibians - {{ page.title }}</title>
    {% include head.html %}
    
</head>

<body class="{{ page.content-type }}">
    
    {% include menu.html %}    
    
    <div class="container content page" >
        <div class="row">
            <div class="col-lg-2">
                
            </div>            
            <div class="col-lg-8">
                <h1>{{ page.title }}</h1>
                {{ content }}
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
    <div style="margin-bottom: 3em;">
    </div>
       
</body>

</html>