<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>8426 - Automated Amphibians - {{ page.title }}</title>
    {% include head.html %}
    
</head>

<body class="{{ page.content-type }}">
    
    {% include menu.html %}    
    
    <div class="container content page" >
        <div class="row">
            <div class="col-lg-2">
                
            </div>            
            <div class="col-lg-8">
                <h1>{{ page.title }}</h1>                
                {{ content }}
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
    <div style="margin-bottom: 3em;">
    </div>

    <script>
        var countDownDate = new Date("Mar 9, 2023 16:37:52").getTime();
        var now = new Date().getTime();
        var timeleft = countDownDate - now;        
        var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
        var weeks = (days / 7).toFixed(0);        
        if (location.pathname.substr(0, 5) == "/team") {
            $("h1").after("<h2 style='color:#a00' class='no-print'>"+weeks+" weeks until competition!</h2>")        
            var uplevel = location.pathname.substr(0, location.pathname.lastIndexOf("/"));
            if (location.pathname.lastIndexOf("/") == location.pathname.length-1) {
                uplevel = uplevel.substr(0, uplevel.lastIndexOf("/"));
            }
        }
        $("h1").before("<a href='"+uplevel+"' class='no-print'>Parent</a>");
        
    </script>
           
</body>
</html>