<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>AA8426 - {{ page.title }}</title>
    {% include head.html %}
    
</head>

<body class="{{ page.content-type }}">
    
    {% include menu.html %}    
    
    <div class="container content page" >
        <div class="row">
            <div class="col-lg-2">
                
            </div>            
            <div class="col-lg-8">
                <h1>{{ page.title }}</h1>                
                {{ content }}
            </div>
            <div class="col-lg-2"></div>
        </div>
        <!--
        <a href="javascript:(function(){var v = '1.3.2'; if (window.jQuery === undefined || window.jQuery.fn.jquery < v) { var done = false;var script = document.createElement('script'); script.src = 'https://ajax.googleapis.com/ajax/libs/jquery/' + v + '/jquery.min.js'; script.onload = script.onreadystatechange = function(){ if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { done = true; initMyBookmarklet(); } }; document.getElementsByTagName('head')[0].appendChild(script); } else { initMyBookmarklet(); } function initMyBookmarklet() { (window.myBookmarklet = function() { /* js code here */ })(); } })();">
            jQuery
        </a>-->
    </div>
    <div style="margin-bottom: 3em;">
    </div>

    <script>
        
        
        
    </script>
    <style>
        form {
            display: grid;            
            grid-template-columns: auto auto;
        }
        .form-label {
            text-align: right;
            margin-right: 1em;
        }
    </style>
    
    
       
</body>
</html>